<h1> Contact Us </h1>

<address>
  <strong>Deepak Bharanikana</strong><br>
  2661E Park Doral, Apt I<br>
  Bloomington, IN 47408<br>
  <abbr title="Phone">P:</abbr> (812) 369-8053
</address>

<address>
  <strong>Deepak Yadav Bharanikana</strong><br>
  <a href="mailto:#">deepak_curly@yahoo.com</a>
</address>